#monitor-page {
  padding: 4rem; }

.menu {
  width: 21rem; }

#gstore-log {
  height: 15rem; }

#gstore-log-divider {
  height: 1rem; }

.fake-access-line {
  width: 100%; }

.monitor-mr {
  margin-right: 1.5rem; }
